<library path="lib/libtocabi_gui">
  <class name="tocabi_gui/TocabiGui" type="tocabi_gui::TocabiGui" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>DYROS Tocabi Gui</label>
      <icon type="file">resource/Dyros_Logo3.png</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>