<launch>
  <arg name="debug" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="controller" default="true" />
  <arg name="gui" default="true"/>
  <arg name="run_mode" default="simulation"/>
  <arg name="ncurse" default="false"/>
  
  <group if="$(arg controller)">
    <node name="tocabi_controller" pkg="tocabi_controller" type="tocabi_controller" launch-prefix="sudo -E" output="screen">
      <param name="run_mode" value="$(arg run_mode)"/>
      <param name="debug" value="$(arg debug)" />
      <param name="rviz_pub" value="$(arg rviz)"/>
      <param name="ncurse" value="$(arg ncurse)"/>
    </node>
    <node name="mujoco_ros" pkg="mujoco_ros" type="mujoco_ros" required="true" respawn="false" output="screen">
      <param name="license" type="string" value="$(env HOME)/mjkey.txt" />
      <param name="model_file" type="string" value="$(find tocabi_description)/mujoco_model/dyros_tocabi.xml"/>
    </node>
  </group>
</launch>
